---
import Layout from "./Layout.astro";
import Card from "../components/ui/Card.astro";

const { title, date } = Astro.props;
const year = date.getFullYear();
const month = date.getMonth() + 1;
const day = date.getDate();
const formattedDate = `${year}年${month}月${day}日`;
---

<Layout title={title}>
  <div class="post-title text-4xl mb-4 pl-2">{title}</div>
  <div class="post-date text-gray-500 mb-4 pl-2">发布于 {formattedDate}</div>
  <Card>
    <div class="post-card px-4">
      <slot />
    </div>
  </Card>

  <style is:global>
    /* Github Markdown Style Css */
    .post-card h1,
    .post-card h2,
    .post-card h3,
    .post-card h4,
    .post-card h5,
    .post-card h6 {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }

    .post-card h1 {
      font-size: 2em;
    }

    .post-card h2 {
      font-size: 1.5em;
    }

    .post-card h3 {
      font-size: 1.25em;
    }

    .post-card h4 {
      font-size: 1em;
    }

    .post-card h5 {
      font-size: 0.875em;
    }

    .post-card h6 {
      font-size: 0.85em;
    }

    .post-card p {
      margin-top: 1em;
      margin-bottom: 1em;
    }

    .post-card ul,
    .post-card ol {
      padding-left: 1.5em;
      margin-bottom: 1em;
    }

    .post-card ul ul,
    .post-card ol ol,
    .post-card ul ol,
    .post-card ol ul {
      margin-bottom: 0;
    }

    .post-card ul {
      list-style-type: disc;
    }

    .post-card ol {
      list-style-type: decimal;
    }

    .post-card blockquote {
      margin-top: 1em;
      margin-bottom: 1em;
      padding: 0.5em 1em;
      background-color: #f9f9f9;
      border-left: 0.25em solid #dfe2e5;
    }

    .post-card pre {
      margin-top: 1em;
      margin-bottom: 1em;
      padding: 1em;
      border-radius: 0.25em;
    }

    .post-card code {
      font-size: 0.85em;
      background-color: #f9f9f9;
      padding: 0.25em;
      border-radius: 0.25em;
    }

    .post-card pre code {
      font-size: 0.85em;
      padding: 0.25em;
      border-radius: 0.25em;
      background-color: transparent;
    }

    .post-card a {
      color: #0366d6;
      text-decoration: none;
    }

    .post-card a:hover {
      text-decoration: underline;
    }

    .post-card img {
      max-width: 100%;
      height: auto;
    }

    .post-card table {
      width: 100%;
      border-collapse: collapse;
    }

    .post-card th,
    .post-card td {
      border: 1px solid #dfe2e5;
      padding: 0.5em;
    }

    .post-card th {
      background-color: #f9f9f9;
    }

    .post-card thead th {
      background-color: #f1f1f1;
    }

    .post-card tbody tr:nth-child(2n) {
      background-color: #f9f9f9;
    }

    .post-card tbody tr:hover {
      background-color: #f1f1f1;
    }
  </style>
</Layout>
